:root {
  --primary-invert-amount: 0.9;
}

/* Apply dark mode to all elements */
html.dark-birdeye {
  filter: invert(var(--primary-invert-amount)) hue-rotate(180deg);
}

/* Invert images and videos back to their original colors */
html.dark-birdeye img,
html.dark-birdeye video {
  filter: invert(1) hue-rotate(180deg);
}

/* Add more specific styles for Birdeye elements here */
html.dark-birdey {
  /* Add custom styles */
}